body {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;

  font-size: 24px;

  font-family: $main-font-family;
  color: $primary-color;

  background-color: $main-background-color;
}
