.footer {
  padding: 44px 20px 49px 20px;

  @media screen and (min-width: 1200px) {
    margin-left: 200px;
    margin-top: 76px;
    padding: 0;
  }

  &_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 54px;

    @media screen and (min-width: 1200px) {
      font-size: 27px;
    }
  }
}

.company,
.programs,
.legal,
.about,
.social,
.learn {
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323642;
  margin-bottom: 18px;

  &_list {
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #889099;
    margin-bottom: 35px;
  }
}

.company_list {
  margin-right: 25px;
}

.legal_list {
  margin-right: 37px;
}

.footer_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: unset;

  @media screen and (min-width: 1200px) {
    margin-right: 46px;
  }
}

.footer_list_item {
  margin-bottom: 10px;
}

.social_list {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  justify-content: space-between;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    max-width: 600px;
    flex-wrap: nowrap;
  }

  &_item {
    margin-right: 15px;
    margin-bottom: 10px;

    @media screen and (min-width: 1200px) {
      margin-right: 35px;
    }
  }
}

.about_list {
  margin-bottom: 18px;
}

.social_desktop {
  display: none;
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;

    margin-top: 40px;
    margin-bottom: 90px;
  }
}

.social_mob {
  display: block;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.footer_layout {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }
}

.about_container {
  @media screen and (min-width: 1200px) {
    max-width: 600px;
  }
}

.company_list {
  @media screen and (min-width: 1200px) {
    margin-right: 46px;
  }
}
