.search-mob {
  margin-bottom: 40px;

  @media screen and (min-width: 1200px) {
    display: none;
  }

  &_container {
    position: relative;
    margin-left: 20px;
  }
  &_input {
    font-weight: 300;
    font-size: 18px;
    color: $primary-color;
    width: 335px;
    height: 59px;
    border: 1px solid #d7d8d9;
    border-radius: 4px;
  }

  &_input::placeholder {
    font-weight: 300;
    font-size: 18px;
    color: $primary-color;
    padding-left: 58px;
  }

  &_icon {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 20px;
    top: 21px;
  }
}
