.search-mob{
    margin-bottom: 40px;

    &_container{
        position: relative;
        margin-left: 20px;
    }
    &_input {
        font-weight: 300;
        font-size: 18px;
        color: $primary-color;
        width: 335px;
        height: 59px;
        border: 1px solid #D7D8D9;
        border-radius: 4px;
    }

        &_input::placeholder{
            font-weight: 300;
                font-size: 18px;
                color: $primary-color;
                padding-left: 58px;

        }

        &_icon{
            position: absolute;
            width: 15px;
                height: 15px;
                left: 20px;
                top: 21px;
        }

}