$primary-color:#22252E;
$alert-color:#FF8D00;;
$accent-color:#4CB649;
$main-background-color: #fff;

$animation-duration: 250ms;
$animation-type: cubic-bezier(0.4, 0, 0.2, 1);

$main-font-family: Roboto;
$secondary-font-family: Inter;

$mobile-width: 480px;
$desktop-width: 1200px;